<div class="container">
  <div class="row">
    <div class="col-xs-24 om-rf">

      <h1 id="page-title">Om oss</h1>

      <h3><strong>Företaget grundades i Lund 2006 av Christian Malm. Idag har vi kontor i Malmö och i Kristianstad och arbetar i hela södra Sverige.</strong></h3>
      <br>
      <ul>
        <p>Resursforum är ett privat företag, vi arbetar med följande:</p>
        <li>
          <p>Familjeinsatser</p>
        </li>
        <li>
          <p>Marte Meo</p>
        </li>
        <li>
          <p>Handledning och mentorskap</p>
        </li>
        <li>
          <p>Personalförstärkning</p>
        </li>
        <li>
          <p>Utredningar</p>
        </li>
        <li>
          <p>Parsamtal</p>
        </li>
        <li>
          <p>Familjehemsutredningar</p>
        </li>
      </ul>
      <br>
      <p>
        Vi erbjuder våra tjänster till enskilda personer samt till privat och offentlig verksamhet. Inom Resursforum utgår vi från
        ett helhetsperspektiv och kombinerar våra resurser. Vi har därför möjlighet att erbjuda flexibla lösningar utifrån
        uppdragsgivarens behov. På Resursforum arbetar kvalificerade medarbetare med adekvat utbildning och mångårig erfarenhet.
        Då vi genomgående har ett systemiskt förhållningssätt är dialog och samspel vårt främsta verktyg inom samtliga verksamhetsgrenar.
        Välkommen att kontakta oss!
      </p>

    </div>
  </div>
</div>