/* Team */

// body {
//     background: url("https://thumbs.dreamstime.com/x/small-rocks-gravel-around-tree-35566646.jpg");
// }

// #karta-rf h2 {
//   margin: 0;
// }

#inf-box {
  margin-bottom: 100px;
}

.title {
    margin-bottom: 1em;
}
.title h3{
    font-size: 3.5em;
    font: 70px 'ChunkFiveRegular';
    color: white;
    text-shadow: 0px 1px 0px white, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    text-align: center;
    color: navy;
    margin-bottom: 1em;
    padding-bottom: 0.3em;
    width: 30%;
    /*border-bottom: 2px solid navy;*/
    margin: 0 auto;
}
.title p {
    font-size: 1.5em;
    color: white;
    text-align: center;

}
kontakter img.img-responsive {
    width: 250px;
    height: 300px;
    border-radius: 15px;
}
.team-grids {
    overflow: hidden;
    margin-bottom: 32px;
}
.box p {
    text-align: justify;
    font-family: verdana;
    color: white;
    font-weight: bold;
}
.box a {
    color: white;
}
.box h4{
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Papyrus;
}
.box h6 {
    color: white;
    font-family: fantasy;
    font-size: 15px;
}
.box {
    background: url(../images/kontakt/blue.jpg);
    padding: 1.5em;
    position: absolute;
	  bottom: -65%;
    left: 10%;
    right: 10%;
    border-radius: 10px;
	-webkit-transition:.5s all;
	transition:.5s all;
	-moz-transition:.5s all;
}
.team-grids:hover .box{
	  bottom: 25%;
}

/* For mobile device */
@media(max-width:1280px){
    .team {
        padding: 5em 0;
    }
}
@media(max-width:1080px){
    .team {
        padding: 4em 0;
    }
    .team-grids {
    padding: 0 .5em;
}
.box {
    padding: 1em;
    left: 8%;
    bottom: -100%;
}
.box h4 {
    font-size: 1.7em;
}
}
@media(max-width:991px){
    .box h4 {
    font-size: 1.5em;
}
.team-grids {
    width: 49%;
    float: left;
    margin: 1em auto;
    padding: 0 2em;
}
.team-grids:hover .box {
    bottom: 27%;
}
.box {
    left: 23%;
}
}
@media(max-width:900px){
 .team {
    padding: 3em 0;
 }
 }
 @media(max-width:480px){
 .team-grids {
    width: 50%;
    margin: 0.5em auto;
    padding: 0 0.5em;
}
.box {
    left: 9%;
}
.team-grids:hover .box {
    bottom: 20%;
} 
}
@media(max-width:414px){
    .team-grids {
    width: 70%;
    float: none;
}
.box {
    left: 14%;
}
.team-grids:hover .box {
    bottom: 25%;
}
}
@media(max-width:375px){ 
.team-grids {
    width: 80%;
}
}
@media(max-width:320px){
.team {
    padding: 1.5em 0;
}
.team-grids {
    width: 90%;
    padding: 0;
}
}
