<!DOCTYPE html>
<html>
<head>
<title>Resursforum</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">	
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Animation Effect -->
<link href="css/animate.min.css" rel="stylesheet"> 
<script src="js/wow.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="js/controller.js"></script>


    <!-- Verksamheter -->
    <div class="menu-bottom animated wow fadeInUp">
				<div class="col-sm-4 menu-bottom1">
					<div class="block">
					<!--<a href="familjebehandlingar.html">-->
							<img src="images/familj1.jpg" alt="" class="img-responsive">
							<div class="boxs">
								<h4>Familjebehandling</h4><br>
	                     <div ng-app="myApp" ng-controller="myCtrl">
                                 <br>
	                            <a ng-click="myFunc()" style="cursor: pointer">Vår grundsyn!</a>
                                <div ng-show="grundsyn"> 
	                           <div class="theBox"><br>
	 <strong>Vi utgår från en salutogen grund samt ett systemiskt förhållningssätt</strong> <br>
<div>Vi på Resursforum anser att relationen och samspelets kvalitet är avgörande i förändringsprocesser och vi erbjuder trovärdiga relationer. I dialog skapas förutsättningar för familjemedlemmarna att lyssna på varandra och på sig själva. Därmed skapas utrymme för reflektion och eftertanke, vilket är ett första steg för att kunna agera och interagera annorlunda.</div>

<div>Vi är övertygade om att det i varje familjesystem finns lika många upplevda sanningar som familjemedlemmar. För att en varaktig förändring ska kunna ske måste dessa olika röster få bli hörda.</div>

<div>Behandlingsarbetet grundar sig i stor respekt för den enskildes livssituation och livshistoria. Integritet, nyfikenhet, lyssnande, samskapande, dialog och reflektion är ledord för oss.</div> 

<div>Vi benämner och bekräftar svårigheter, men för att familjens livssituation skall bli annorlunda, krävs att vi upptäcker och stärker redan fungerande samspel och familjemönster.</div><br>
                              </div>
	                            </div>
                             <br>

								<a ng-click="myFunc2()" style="cursor: pointer">Familjesamtal</a>
							<div ng-show="familjesamtal">
	                            <div class="theBox"> <br>
	          <strong>Familjesamtal utifrån ett systemiskt förhållningssätt</strong> <br>
<div>Resursforum erbjuder familjesamtal utifrån ett systemiskt och salutogent förhållningssätt.</div>

<div>Vi leder förändringsarbetet framåt genom att möta familjen där den befinner sig, samt följa och bemöta familjen utvecklingsbefrämjande under processen. Genom dialog erbjuds familjen möjlighet att tillsammans hitta nya sätt att interagera.</div>

<div>Aktivt lyssnande, reflektion och respektfullt bemötande utgör grunden för våra familjesamtal. I varje familjesystem finns lika många upplevda sanningar som familjemedlemmar och dessa olika röster måste bli hörda och bemötta för att varaktig förändring ska ske.</div>

<div>I familjesamtalen erbjuder vi respektive familjemedlem möjlighet att tydliggöra sig själv, samt att lyssna på varandra. Därmed skapas gemensamt utrymme för reflektion och eftertanke, vilket är en förutsättning för att kunna agera och interagera annorlunda.</div>

<div>Familjesamtalen kombineras med fördel med någon av Resursforums andra familjeinsatser.</div> <br>

	                        </div>
	                            </div>
	                            <br>
								<a ng-click="myFunc3()" style="cursor: pointer">Praktiskt pedagogiskt familjearbete</a>
							<div ng-show="familjearbete">
	                            <div class="theBox"> <br>
	          <strong>Som en integrerad del i Resursforums systemiska familjearbete erbjuder vi praktiska pedagogiska insatser</strong> <br>
<div>En del familjer behöver hjälp att omsätta familjeterapeutiskt förändringsarbete till vardagssituationer. Familjen erbjuds konkret och pedagogisk intervention för att utveckla fungerande strategier samt bryta destruktiva familjemönster. Genom att utvecklingsfrämjande agerande kan bekräftas i stunden skapas hopp och mod att göra annorlunda.</div>

<div>För att uppnå varaktig förändring, krävs att insatsen ses som en integrerad del i Resursforums systemiska familjearbete, vilket bland annat innebär gemensamma familjesamtal.</div>

<div>Våra familjepedagoger har erforderlig utbildning och mångårig erfarenhet av psykosocialt förändringsarbete.</div> <br>
                            </div>
                                </div>
                                <br>

                                <a ng-click="myFunc4()" style="cursor: pointer">Marte Meo!</a>
                                <div ng-show="martemeo"> 
	                           <div class="theBox"><br>
	 <strong>Marte meo-metoden</strong> <br>
<div>Familjeinsatser enligt Marte meo-metoden </div>

<div>Marte meo är verkningsfullt då samspelet mellan barn och föräldrar är bekymmersamt, exempelvis vid gränssättningsproblematik. Marte meo-metoden kan med fördel användas i samverkan med andra familjeinsatser.</div>

<div>Med hjälp av filmsekvenser ur familjens vardag hjälper terapeuten föräldrarna att lära känna sitt barns behov, styrkor och svårigheter. Föräldrarna får konkret hjälp att bemöta barnet utvecklingsfrämjande. Kunskapen om sitt barns behov, styrkor och svårigheter ökar, därmed också förståelsen och förmågan att samspela.</div> 

<div>Med Marte meo-metoden får föräldrar hjälp att: <br>
<ul>
<li>Förstå sitt barn </li>
<li>Skapa bättre samspel, kommunikation och samarbete med barnet </li>
<li>Bemöta barnet på ett utvecklingsfrämjande vis </li>
<li>Tydliggöras som förälder, exempelvis vid gränssättningssvårigheter </li>
<li>Känna säkerhet och duglighet i föräldrarollen </li>
<li>Känna hopp, mod och ork att hitta nya vägar samt bryta destruktiva mönster </li>
</ul>
</div><br>
                              </div>
	                            </div>
                             <br>
								<a ng-click="myFunc5()" style="cursor: pointer">Familjehemsstöd</a>
                                <div ng-show="familjehemsstod"> 
	                           <div class="theBox"><br>
	 <strong>Hur kan man närma sig ett barn som tidigare farit illa i sina nära relationer?
Hur kan man förstå ett barn som avvisar alla livsnödvändiga relationer och hur gör man för att orka finnas kvar?</strong> <br>
<div>Flertalet familjehem orkar inte finnas kvar för de barn som befinner sig i konstant kris och barn omplaceras för att deras anknytningsmönster ställer mycket höga krav på den närmaste omgivningen. Vi på Resursforum har lång erfarenhet av att arbeta med familjehem, placerade barn och deras biologföräldrar i olika skeden av placeringsprocessen och erbjuder kvalificerade insatser utifrån det specifika barnets och familjehemmets behov.</div>

<div>- Handledning för hela familjehemssystemet i olika konstellationer, vilket innebär det placerade barnet, familjehemsföräldrarna samt eventuella biologbarn eller placerade barn som finns i familjehemmet. Vi vet att alla i familjehemssystemet påverkas och berörs och att alla påverkar varandra.</div>

<div>- Familjebehandling/familjeterapeutiska insatser då exempelvis risk för sammanbrott föreligger.
</div> <br>
                              </div>
	                            </div>
                             
								</div>
								</div>
								</div>						
					</div>
				<div class="col-sm-4 menu-bottom1">
					<div class="block">
					<a href="utredningar.html">
							<img src="images/familj2.jpg" alt="" class="img-responsive">
							<div class="boxs">
								<h4>Utredningar</h4>
								<br>
								<a href=".html"><b>Hemmabaserade instensivutredningar</b></a><br>
								<a href=".html"><b>Utredning med fokus på Känslo- och Beteendemässig utveckling</b></a><br>
								<a href=".html">Samspelsbeskrivningar</b></a>			
							</div>
						</a>						
					</div>
				</div>
				<div class="col-sm-4 menu-bottom1">
					<div class="block">
					<a href="socionomkonsulter.html">
							<img src="images/familj3.jpg" alt="" class="img-responsive">
							<div class="boxs">
								<h4>Socionomkonsulter</h4>
								<br>
								<a href=".html"><b>Enstaka utredningar</b></a><br>
								<a href=".html"><b>Regelverk</b></a>					
							</div>
						</a>	
					</div>
				</div>
				<div class="clearfix"> </div>				
			</div>
		<div class="menu-bottom animated wow fadeInRight">
				<div class="col-sm-4 menu-bottom1">
					<div class="block">
						<a href="privatpersoner.html">
							<img src="images/familj4.jpg" alt="" class="img-responsive">
							<div class="boxs">
								<h4>Privatpersoner</h4>
								<br>			
							</div>
						</a>	
					</div>
				</div>
				<div></div>
				<div class="col-sm-4 menu-bottom1">
					<div class="block">
						<a href="familjehem.html">
							<img src="images/familj5.jpg" alt="" class="img-responsive">
							<div class="boxs">
								<h4>Familjehem</h4>
								<br>				
							</div>
						</a>	
					</div>
				</div>
				<div class="col-sm-4 menu-bottom1">
					<div class="block">
						<a href="">
							<img src="images/familj6.jpg" alt="" class="img-responsive">
							<div class="boxs">
								<h4>Något annat..</h4>
								<br>
								<p>annat viktigt kanske..</p>				
							</div>
						</a>		
					</div>
				</div>
				<div class="clearfix"> </div>			
			</div>				
			</div>
		</div>
	</div>

	<br><br><br><br>

    
	<!-- Info boxes -->
	<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="glyphicon glyphicon-map-marker btn-lg white"></span></div>
                    <div class="info"><br>
                        <h2 class="title">Hitta oss</h2>
                        <p>Klostergatan 4, 211 47 Malmö</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="glyphicon glyphicon-envelope btn-lg white"></span></div>
                    <div class="info"><br>
                        <h2 class="title">Maila oss</h2>
                        <p style="color: white;"><a href="info@resursforum.se">info@resursforum.se></a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                   <div class="image"><span class="glyphicon glyphicon-phone-alt btn-lg white"></span></div>
                    <div class="info"><br>
                        <h2 class="title">Ring oss</h2>
                        <p>000- 00 00 00</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
</body>
</html>